<!-- Add User Modal -->
<div class="modal fade" id="accountRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="accountRegistrationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountRegistrationModalLabel">Add New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'appAdmin:admin-add-user' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <!-- Personal Information Fieldset -->
          <div class="fieldset">
            <legend class="legend">Personal Information</legend>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="add_first_name">First Name</label>
                <input type="text" class="form-control" id="add_first_name" name="first_name" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="add_middle_name">Middle Name</label>
                <input type="text" class="form-control" id="add_middle_name" name="middle_name">
              </div>
              <div class="col-md-4 mb-3">
                <label for="add_last_name">Last Name</label>
                <input type="text" class="form-control" id="add_last_name" name="last_name" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="add_sex">Biological Sex</label>
                <select class="form-control" id="add_sex" name="sex" required>
                  <option value="">Select</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="add_gender">Gender</label>
                <select class="form-control" id="add_gender" name="gender">
                  <option value="">Select</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="non-binary">Non-Binary</option>
                  <option value="other">Other</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="add_date_birth">Date of Birth</label>
                <input type="date" class="form-control" id="add_date_birth" name="date_birth">
              </div>
              <div class="col-md-6 mb-3">
                <label for="add_contact_num">Contact Number</label>
                <input type="text" class="form-control" id="add_contact_num" name="contact_num">
              </div>
            </div>
          </div>
          
          <!-- Account Information Fieldset -->
          <div class="fieldset">
            <legend class="legend">Account Information</legend>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="add_email">Email</label>
                <input type="email" class="form-control" id="add_email" name="email" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="add_user_type">User Type</label>
                <select class="form-control" id="add_user_type" name="user_type" required>
                  <option value="">Select</option>
                  {% comment %} <option value="general">General User</option> {% endcomment %}
                  <option value="cmi">CMI User</option>
                  <option value="secretariat">Secretariat</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="add_password1">Password</label>
                <input type="password" class="form-control" id="add_password1" name="password1" required autocomplete="new-password">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="add_password2">Confirm Password</label>
                <input type="password" class="form-control" id="add_password2" name="password2" required autocomplete="new-password">
              </div>
            </div>
          </div>
          
          <!-- Professional Information Fieldset -->
          <div class="fieldset">
            <legend class="legend">Professional Information</legend>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="add_institution">Institution</label>
                <input type="text" class="form-control" id="add_institution" name="institution" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="add_position">Position</label>
                <input type="text" class="form-control" id="add_position" name="position">
              </div>
              <div class="col-md-6 mb-3">
                <label for="add_highest_educ">Highest Education</label>
                <select class="form-control" id="add_highest_educ" name="highest_educ">
                  <option value="">Select</option>
                  <option value="high_school">High School</option>
                  <option value="associate">Associate's</option>
                  <option value="bachelor">Bachelor's</option>
                  <option value="master">Master's</option>
                  <option value="doctoral">Doctoral</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="add_specialization">Specialization</label>
                <input type="text" class="form-control" id="add_specialization" name="specialization">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>